* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}
header .container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
header .container .logo {
  position: absolute;
  background-color: #fe8c12;
  width: 45px;
  height: 45px;
  top: 28px;
  border-radius: 50px;
  color: white;
  font-size: 3.5rem;
  font-family: calibri;
  cursor: pointer;
}
header .container .logo .logo1 {
  position: absolute;
  left: 8px;
  bottom: -9px;
}
header .container .logoname {
  display: flex;
  align-items: center;
  margin-left: 55px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 46px;
  cursor: pointer;
}
header .container .contact {
  display: flex;
  align-items: center;
}
header .container .contact .telp {
  display: flex;
  align-items: center;
}
header .container .contact .telp .icon {
  width: 35px;
  height: 35px;
}
header .container .contact .telp .kontak {
  display: flex;
  flex-direction: column;
  margin-left: 11px;
}
header .container .contact .telp .kontak .kontak1 {
  width: 70px;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
  color: #686C73;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
header .container .contact .telp .kontak .kontak2 {
  color: #0A0A0B;
  width: 124px;
  height: 26px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}
header .container .contact .bounds {
  margin-left: 15px;
  margin-right: 30px;
  width: 1px;
  height: 40px;
  background: #e6e7e8;
}
header .container .contact .email {
  display: flex;
  align-items: center;
}
header .container .contact .email .icon {
  width: 35px;
  height: 35px;
}
header .container .contact .email .kontak {
  display: flex;
  flex-direction: column;
  margin-left: 11px;
}
header .container .contact .email .kontak .kontak1 {
  width: 70px;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
  color: #686C73;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
header .container .contact .email .kontak .kontak2 {
  color: #0A0A0B;
  width: 124px;
  height: 26px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}
header .container .contact button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  text-transform: uppercase;
  border-radius: 2px;
  background: #fe8c12;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  margin-left: 20px;
}
header .container .contact button img {
  width: 12px;
  height: 10px;
  margin-left: 6px;
}

section {
  width: 100%;
  height: 863px;
  background-color: #4f535c;
}
section nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  height: 60px;
  background-color: #0A0A0B;
}
section nav .menu {
  margin-left: 20px;
  cursor: pointer;
  display: none;
}
section nav .menu .bar {
  width: 23px;
  height: 1px;
  margin: 5px;
  display: block;
  background-color: white;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
section nav ul {
  display: flex;
  padding-left: 10px;
}
section nav ul li {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0 10px;
  text-align: center;
}
section nav ul li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}
section nav ul li .active {
  color: #fe8c12;
}
section nav .search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
}
section nav .search img {
  width: 25px;
}
section nav .line {
  width: 1px;
  height: 30px;
  margin: 0 10px;
  background-color: #353b44;
}
section nav .medsos {
  display: flex;
  align-items: center;
  padding-right: 15px;
}
section nav .medsos .fb {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4f535c;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  margin: 0 3px;
  background: #fe8c12;
}
section nav .medsos .twitter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4f535c;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  margin: 0 3px;
}
section nav .medsos .in {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4f535c;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  margin: 0 3px;
}
section nav .medsos .ig {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4f535c;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  margin: 0 3px;
}
section main {
  display: flex;
  align-items: center;
  width: 80%;
  height: 80%;
  margin: auto;
}
section main .content .content1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 26px;
  width: 125px;
  height: 26px;
  color: #fe8c12;
  text-transform: uppercase;
}
section main .content .content2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: white;
  font-size: 90px;
  line-height: 110px;
  text-transform: uppercase;
}
section main .content .content3 {
  width: 706px;
  height: 71px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: white;
}
section main .content .btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  width: 245px;
}
section main .content .btn button {
  border: none;
  border-radius: 2px;
  width: 170px;
  height: 50px;
  background-color: #fe8c12;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  line-height: 28px;
  font-size: 15px;
}
section main .content .btn button img {
  margin-left: 7px;
}
section main .content .btn .msc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: white;
}
section main .content .btn .msc img {
  width: 14px;
  height: 15.58px;
}
section main .content .arrow {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 50px;
}
section main .content .arrow .left, section main .content .arrow .right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  border: 1px solid #fe8c12;
  margin-left: 5px;
}
section main .content .arrow .right {
  background-color: #fe8c12;
}

.menu1 {
  width: 80%;
  height: 700px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  margin: auto;
}
.menu1 .gambar1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu1 .gambar1 img {
  position: relative;
  width: 320px;
  height: 320px;
  border-radius: 270px;
}
.menu1 .gambar1 .gmbr {
  margin-left: -150px;
  margin-bottom: 150px;
  width: 250px;
  height: 250px;
  border: 200px;
  border: 10px solid white;
}
.menu1 .gambar1 .text1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
  border-radius: 120px;
  z-index: 1;
  margin-left: -180px;
  margin-top: 250px;
  background-color: #fe8c12;
  color: white;
  text-transform: uppercase;
}
.menu1 .gambar1 .text1 h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 30px;
}
.menu1 .gambar1 .text1 p {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.menu1 .gambar1 .text {
  width: 170px;
  height: 170px;
  border: 1px solid #fe8c12;
  margin-left: -230px;
  margin-top: 200px;
  z-index: 1;
  border-radius: 120px;
}
.menu1 .menu2 {
  width: 53%;
  margin-left: 10%;
  height: auto;
}
.menu1 .menu2 .utama {
  display: flex;
  align-items: center;
}
.menu1 .menu2 .utama hr {
  width: 35px;
  margin-right: 4px;
  height: 2px;
  background-color: #fe8c12;
}
.menu1 .menu2 .utama p {
  text-transform: uppercase;
  width: 160px;
  color: #fe8c12;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 13px;
}
.menu1 .menu2 .utama1 {
  margin-top: 5px;
  text-transform: uppercase;
  width: 100%;
}
.menu1 .menu2 .utama1 h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 43px;
  line-height: 51px;
}
.menu1 .menu2 .utama2 {
  width: 90%;
  margin-top: 20px;
}
.menu1 .menu2 .utama2 p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #686C73;
}
.menu1 .menu2 .utama3 {
  width: 100%;
  display: flex;
}
.menu1 .menu2 .utama3 .isi1, .menu1 .menu2 .utama3 .isi2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.menu1 .menu2 .utama3 .isi1 .first, .menu1 .menu2 .utama3 .isi2 .first {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  color: #FFFFFF;
}
.menu1 .menu2 .utama3 .isi1 .first img, .menu1 .menu2 .utama3 .isi2 .first img {
  width: 30px;
  height: 30px;
}
.menu1 .menu2 .utama3 .isi1 .second, .menu1 .menu2 .utama3 .isi2 .second {
  width: 70%;
  margin-top: 15px;
  margin-bottom: 25px;
}
.menu1 .menu2 .utama3 .isi1 .second p:first-of-type, .menu1 .menu2 .utama3 .isi2 .second p:first-of-type {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #0A0A0B;
  font-size: 18px;
  line-height: 28px;
}
.menu1 .menu2 .utama3 .isi1 .second p:last-of-type, .menu1 .menu2 .utama3 .isi2 .second p:last-of-type {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #686C73;
  line-height: 26px;
}
.menu1 .menu2 hr {
  width: 100%;
  height: 1px;
  background: #E6E7E8;
}
.menu1 .menu2 .btn1 {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 340px;
}
.menu1 .menu2 .btn1 button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  background: #FE8C12;
  border-radius: 2px;
  border: none;
  text-transform: uppercase;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.menu1 .menu2 .btn1 button img {
  margin-left: 10px;
}
.menu1 .menu2 .btn1 .profile {
  display: flex;
  align-items: center;
}
.menu1 .menu2 .btn1 .profile img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.menu1 .menu2 .btn1 .nameCEO p:first-of-type {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #0A0A0B;
  line-height: 24px;
}
.menu1 .menu2 .btn1 .nameCEO p:last-of-type {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #686C73;
  line-height: 24px;
}

.hal3 {
  width: 100%;
  height: 640px;
  background: #0A0A0B;
  opacity: 0.85;
  display: flex;
}
.hal3 .isi1hal3 {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hal3 .isi1hal3 .is1 {
  width: 55%;
  background: #FFFFFF;
  padding: 25px;
}
.hal3 .isi1hal3 .is1 p {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 62px;
  text-transform: uppercase;
  position: relative;
}
.hal3 .isi1hal3 .is1 .latar {
  margin-top: -30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.hal3 .isi1hal3 .is1 .latar button {
  position: relative;
  width: 160px;
  height: 50px;
  background: #fe8c12;
  text-transform: uppercase;
  color: white;
  border-radius: 2px;
  border: none;
}
.hal3 .isi1hal3 .is1 .latar button img {
  margin-left: 7px;
}
.hal3 .isi1hal3 .is1 .latar .bg {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: calibri;
  font-size: 13rem;
  color: white;
  background: #fe8c12;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  opacity: 13%;
  margin-bottom: -28px;
  margin-right: -25px;
}
.hal3 .isi1hal3 .is2 {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hal3 .isi1hal3 .is2 p {
  color: white;
  font-family: "Estonia", cursive;
  font-size: 30px;
  line-height: 28px;
  text-transform: uppercase;
}
.hal3 .isi1hal3 .is2 .gb {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  width: 55px;
  height: 55px;
  border-radius: 70px;
  background: #FFFFFF;
  margin-top: 25px;
}
.hal3 .isi1hal3 .is2 .gb img {
  width: 15px;
  height: 15px;
}

.hal4 {
  width: 100%;
  height: auto;
  background-color: white;
}
.hal4 .hal41 {
  padding-top: 35px;
  padding-bottom: 80px;
  width: 90%;
  margin: auto;
}
.hal4 .hal41 .isi11 {
  display: flex;
  align-items: center;
}
.hal4 .hal41 .isi11 hr {
  width: 30px;
  height: 2px;
  background: #fe8c12;
}
.hal4 .hal41 .isi11 div {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #fe8c12;
  text-transform: uppercase;
  margin-left: 5px;
}
.hal4 .hal41 .isi12 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 48px;
  margin-bottom: 30px;
}
.hal4 .hal41 .gmbrs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hal4 .hal41 .gmbrs img {
  width: 270px;
  height: 370px;
  padding-top: 20px;
}

.hal5 {
  background: #0A0A0B;
  width: 100%;
  height: auto;
  padding-top: 100px;
  display: flex;
}
.hal5 .isi20 {
  width: 90%;
  margin-left: auto;
  display: flex;
}
.hal5 .isi20 .kontent1 .utama {
  display: flex;
  align-items: center;
}
.hal5 .isi20 .kontent1 .utama hr {
  width: 50px;
  height: 2px;
  background: #fe8c12;
}
.hal5 .isi20 .kontent1 .utama div {
  color: #fe8c12;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 7px;
}
.hal5 .isi20 .kontent1 .kedua {
  color: white;
  width: 90%;
}
.hal5 .isi20 .kontent1 .kedua p:first-of-type {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 48px;
  text-transform: uppercase;
}
.hal5 .isi20 .kontent1 .kedua p:last-of-type {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #CDCED0;
  font-size: 16px;
  width: 85%;
}
.hal5 .isi20 .kontent1 .ketiga {
  width: 70%;
}
.hal5 .isi20 .kontent1 .ketiga .con1 {
  display: flex;
  align-items: center;
  margin-top: 35px;
}
.hal5 .isi20 .kontent1 .ketiga .con1 .iconn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: white;
}
.hal5 .isi20 .kontent1 .ketiga .con1 p {
  width: 40%;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 16px;
  margin-left: 25px;
  text-transform: uppercase;
}
.hal5 .isi20 .kontent2 {
  width: 70%;
}
.hal5 .isi20 .kontent2 img {
  margin-top: -100px;
  width: 100%;
  height: 130vh;
}

footer {
  background: #F5F5F5;
  width: 100%;
  height: auto;
}
footer .footer1 {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 60px 0;
}
footer .footer1 .cntftr1 {
  margin-left: 10px;
}
footer .footer1 .cntftr1 .back {
  display: flex;
  align-items: center;
}
footer .footer1 .cntftr1 .back div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fe8c12;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  font-size: 4.5rem;
  color: white;
  font-family: calibri;
}
footer .footer1 .cntftr1 .back div:last-of-type {
  margin-left: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 30px;
}
footer .footer1 .cntftr1 .back1 {
  margin-top: 15px;
}
footer .footer1 .cntftr1 .back1 p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #353B44;
  width: 240px;
}
footer .footer1 .cntftr1 .back1 .mds {
  width: 220px;
  display: flex;
  justify-content: space-between;
}
footer .footer1 .cntftr1 .back1 .mds .m1 {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #FFFFFF;
}
footer .footer1 .cntftr2 {
  margin-left: 10px;
}
footer .footer1 .cntftr2 .jdl {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #0A0A0B;
  margin-bottom: 18px;
}
footer .footer1 .cntftr2 .jdl2 {
  display: flex;
}
footer .footer1 .cntftr2 .jdl2 .jdl21 {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
footer .footer1 .cntftr2 .jdl2 .jdl21 a {
  color: #0A0A0B;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 32px;
  width: 80px;
}
footer .footer1 .cntftr3 {
  margin-left: 10px;
}
footer .footer1 .cntftr3 .jdl3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
}
footer .footer1 .cntftr3 .satu {
  margin-top: 27px;
}
footer .footer1 .cntftr3 .satu .gbrsatu {
  margin-bottom: 15px;
}
footer .footer1 .cntftr3 .satu .gbrsatu .gb {
  display: flex;
  width: 250px;
}
footer .footer1 .cntftr3 .satu .gbrsatu .gb .post p {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 13px;
  text-transform: uppercase;
}
footer .footer1 .cntftr3 .satu .gbrsatu .gb .post .tgl {
  display: flex;
  margin-top: 10px;
}
footer .footer1 .cntftr3 .satu .gbrsatu .gb .post .tgl p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 11px;
  color: #686C73;
  margin-left: 10px;
}
footer .footer1 .cntftr3 .satu .gbrsatu .gb .gm {
  margin-right: 20px;
  width: 70px;
  height: 70px;
}
footer .footer1 .cntftr4 {
  margin-left: 10px;
  width: 260px;
}
footer .footer1 .cntftr4 .in {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 18px;
}
footer .footer1 .cntftr4 .inform1 {
  display: flex;
  align-items: center;
  padding: 10px;
}
footer .footer1 .cntftr4 .inform1 p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #0A0A0B;
  margin-left: 20px;
  text-transform: none;
}
footer .footer1 .cntftr4 .inform1 .locate {
  margin-left: 5px;
}
footer hr {
  width: 100%;
  height: 1px;
  background-color: #0A0A0B;
  opacity: 0.1;
}
footer .foot {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
}
footer .foot .copy {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
footer .foot ul {
  display: flex;
  align-items: center;
  margin-left: auto;
}
footer .foot ul li {
  list-style: none;
  padding: 20px 8px;
}
footer .foot ul li a {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #0A0A0B;
}

@media screen and (max-width: 1010px) {
  .menu1 {
    flex-direction: column;
    height: auto;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .menu1 .menu2 {
    padding-top: 30px;
  }
  .hal4 .hal41 .gmbrs {
    justify-content: center;
    align-items: center;
  }
  .hal4 .hal41 .gmbrs img {
    padding-left: 20px;
  }
}
@media screen and (max-width: 950px) {
  header .container .logoname {
    margin-left: 50px;
    font-size: 27px;
  }
  header .container .contact .telp .kontak {
    margin-left: 2px;
  }
  header .container .contact .telp .kontak .kontak2 {
    width: 91px;
    font-size: 13px;
  }
  header .container .contact .bounds {
    margin-left: 10px;
    margin-right: 13px;
  }
  header .container .contact .email .kontak {
    margin-left: 2px;
  }
  header .container .contact .email .kontak .kontak2 {
    width: 91px;
    font-size: 13px;
  }
  header .container .contact button {
    width: 125px;
    height: 45px;
    font-size: 14px;
    margin-left: 10px;
  }
  section main .content {
    width: 100%;
  }
  section main .content .content3 {
    width: 100%;
    height: auto;
  }
  footer .footer1 .cntftr2 {
    margin-left: 60px;
  }
  footer .footer1 .cntftr3 {
    margin-top: 20px;
  }
  footer .footer1 .cntftr4 {
    margin-left: 40px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 720px) {
  header .container .logoname {
    margin-left: 50px;
    font-size: 23px;
  }
  header .container .contact .telp .kontak {
    margin-left: 1px;
  }
  header .container .contact .telp .kontak .kontak1 {
    width: 55px;
    font-size: 8px;
  }
  header .container .contact .telp .kontak .kontak2 {
    width: 70px;
    font-size: 10px;
  }
  header .container .contact .bounds {
    margin-left: 5px;
    margin-right: 8px;
  }
  header .container .contact .email .kontak {
    margin-left: 1px;
  }
  header .container .contact .email .kontak .kontak1 {
    width: 55px;
    font-size: 8px;
  }
  header .container .contact .email .kontak .kontak2 {
    width: 70px;
    font-size: 10px;
  }
  header .container .contact button {
    width: 100px;
    height: 42px;
    font-size: 12px;
    margin-left: 10px;
  }
  section nav .menu {
    display: block;
  }
  section nav ul {
    position: absolute;
    top: 160px;
    left: -600px;
    transition: 1s;
    flex-direction: column;
    transition: 0.95s;
    width: 200px;
  }
  section nav ul li {
    background-color: #0A0A0B;
    padding-top: 10x;
    padding-bottom: 10px;
    margin-left: 38.5px;
  }
  section nav ul.slide {
    left: 0;
  }
  .menu1 .gambar1 img {
    width: 230px;
    height: 230px;
    border-radius: 200px;
  }
  .menu1 .gambar1 .gmbr {
    margin-left: -130px;
    margin-bottom: 130px;
    width: 200px;
    height: 200px;
    border: 150px;
    border: 10px solid white;
  }
  .menu1 .gambar1 .text1 {
    width: 170px;
    height: 170px;
    border-radius: 120px;
    margin-left: -170px;
    margin-top: 200px;
  }
  .menu1 .gambar1 .text {
    border: 1px solid #fe8c12;
    margin-left: -170px;
    margin-top: 160px;
  }
  .menu1 .menu2 .utama3 {
    flex-direction: column;
    padding-top: 10px;
  }
  .menu1 .menu2 .utama3 .isi1, .menu1 .menu2 .utama3 .isi2 {
    width: 100%;
  }
  .menu1 .menu2 .utama3 .isi1 .second, .menu1 .menu2 .utama3 .isi2 .second {
    width: 70%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .menu1 .menu2 .btn1 {
    width: 210px;
    margin: 30px auto;
  }
  .menu1 .menu2 .btn1 .nameCEO {
    display: none;
  }
  .hal3 .isi1hal3 .is1 {
    width: 100%;
  }
  .hal3 .isi1hal3 .is2 {
    width: 100%;
  }
  .foot {
    flex-direction: column-reverse;
  }
  .foot ul {
    margin: auto;
  }
}
@media screen and (max-width: 600px) {
  header .container .logoname {
    margin-left: 50px;
    font-size: 30px;
  }
  header .container .contact .telp {
    display: none;
  }
  header .container .contact .bounds {
    display: none;
  }
  header .container .contact .email {
    display: none;
  }
  header .container .contact button {
    margin-right: 1px;
  }
  section main .content {
    width: 100%;
  }
  section main .content .content2 {
    font-size: 4.5rem;
  }
  .hal3 .isi1hal3 .is1 {
    width: 100%;
  }
  .hal3 .isi1hal3 .is2 {
    position: relative;
    left: -140px;
    top: 180px;
    display: flex;
    flex-direction: row;
  }
  .hal3 .isi1hal3 .is2 p {
    color: black;
    font-size: 20px;
  }
  .hal3 .isi1hal3 .is2 .gb {
    margin-bottom: 20px;
    margin-left: -10px;
  }
  .hal3 .isi1hal3 .is2 .gb img {
    width: 25px;
    height: 25px;
  }
  .hal5 {
    padding-bottom: 100px;
  }
  .hal5 .isi20 .kontent2 {
    display: flex;
    width: 80%;
  }
  .hal5 .isi20 .kontent2 img {
    margin-left: auto;
    margin-bottom: auto;
    width: 100%;
    height: 25vh;
    border-radius: 100%;
  }
  footer .footer1 .cntftr2 {
    margin-left: 80px;
    margin-top: 20px;
  }
  footer .footer1 .cntftr4 {
    margin-left: 80px;
    margin-top: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
